@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/*font-family: 'Lexend Deca', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/*font-family: 'Big Shoulders Display', cursive;*/

:root {
  --bg-1-color: hsl(31, 77%, 52%);
  --bg-2-color: hsl(184, 100%, 22%);
  --bg-3-color: hsl(179, 100%, 13%);
  --p-color: hsla(0, 0%, 100%, 0.75);
  --h-color: hsl(0, 0%, 95%);
}