@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/*font-family: 'Lexend Deca', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/*font-family: 'Big Shoulders Display', cursive;*/

:root {
  --bg-1-color: hsl(31, 77%, 52%);
  --bg-2-color: hsl(184, 100%, 22%);
  --bg-3-color: hsl(179, 100%, 13%);
  --p-color: hsla(0, 0%, 100%, 0.75);
  --h-color: hsl(0, 0%, 95%);
}

body {
  margin: 5px;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.card {
  max-width: 30ch;
  padding: 50px;
}

.card > h2 {
  color: var(--h-color);
  font-family: 'Big Shoulders Display', cursive;
  text-transform: uppercase;
  font-size: 280%;
}

.card > p {
  color: var(--p-color);
  font-family: 'Lexend Deca', sans-serif;
  line-height: 1.5;
  padding-bottom: 0.75em;
}

.card > a {
  font-family: 'Lexend Deca', sans-serif;
  background-color: var(--h-color);
  text-decoration-line: none;
  display: inline-block;
  padding: 1em 2.5em;
  border-radius: 2em;
}

.card:nth-child(1) {
  background-color: var(--bg-1-color);
  border-radius: 10px 10px 0 0;
}

.card:nth-child(2) {
  background-color: var(--bg-2-color);
}

.card:nth-child(3) {
  background-color: var(--bg-3-color);
  border-radius: 0 0 10px 10px;
}

.card:nth-child(1) > a {
  color: var(--bg-1-color);
}

.card:nth-child(2) > a {
  color: var(--bg-2-color);
}

.card:nth-child(3) > a {
  color: var(--bg-3-color);
}